.april {
    align-content: center;
    background-color: #bdc3c7;
    width: 50%;
    margin-top: 150px;
    margin-left: 290px; 
}
h5{
    text-align: center;
}
body {
    background-color: black;
}

@media screen and (max-width: 600px) {
    .april {
        width: 100%;
        margin: 0px;
    }
  }